.App {
  text-align: center;
  background-color: rgba(168, 187, 197, 0.589)
}

.mainheader {
    margin-top: 10pt;
    position: absolute;
    margin-left: 44%;
    transform: rotate(-15deg);
    color: white;
    background-color: orange;
}

.secondheader {
    margin-top: 0px;
    color: white;
    background-color: black;
}


/* .navbar-inverse {
    background-color: white;
    border-color: white;
} */


.Navigation {
    margin-bottom: 0px;
}

.container {
    margin-bottom: stuck;
    font-size: 2.5mm;
    font-style: italic;
    background-color: rgb(134, 189, 168);
}
