.App {
  text-align: center;

}

.mainheader {
    margin-top: 300px;
    position: absolute;
    margin-left: 44%;
    transform: rotate(-15deg);
    color: white;
    background-color: orange;
}

.secondheader {
    margin-top: 0px;
    color: white;
    background-color: black;
}


/* .navbar-inverse {
    background-color: white;
    border-color: white;
} */


.Navigation {
    margin-bottom: 0px;
}
