.App {
  text-align: center;
  overflow: hidden;
}

::selection {
  background: #ffba26;
}
::-moz-selection {
  background: #ffba26;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  line-height: 10px;
}

.logoNavBar {
  margin-right: 20px;
  margin-top: 0px;
}

.dropdown-menu {
  background-image: url('./images/tropicalDropDown.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
  background-color: white;
  font-size: 70%;
  border-color: none;
  border-radius: 0.3rem;
  max-width: 185px;
}

.dropdown-item {
  max-width: 185px;
  font-weight: 600;
  padding: 0.3rem 0.7rem;
  color: #3b3a3a;
}

a#navbarDropdownBeaches {
    margin-top: -1.7px;
    max-height: 36.66px;
}

.landingPage {
  background-image: url("/image/LandingPageLogo_4.jpg");
  background-color: black;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height:100vh;
}

a.invisButton {
    display: inline-block;
    height: 100vh;
    background-size: 20px;
    background-color: transparent;
    min-width: 75px;
}

#signUpButton {
  background-color: black;
  border-color: black;
  box-shadow: none;
  margin-top: 35px;
}
#signUpButton:hover {
  color: black;
  border-color: white;
  background-color: rgba(255,255,255,0.6);
}
#submit {
  color: white;
  background-color: black;
  border-style: solid;
  border-color: black;
  shadow: none;
}
#submit:hover {
  color: black;
  border-style: solid;
  border-color: black;
  background-color: rgba(255,255,255,0.6);
  shadow: none;
}

.About {
    padding-top: 7.3%;
    padding-bottom: 6.4%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0DA9B4;
}

.TitleAbout {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 45px;
    line-height: 65px;
    color: white;
    margin-bottom: 2%
}

#TextAboutComb p.TextAbout, p.TextAboutBold, p.TextAbout {
  display: inline;
  vertical-align: center;
  line-height: 45px;
}

.TextAbout {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 40px;
    font-size: 27px;
    color: Black;
}

.TextAboutBold {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 40px;
    font-size: 27px;
    font-weight: bold;
    color: Black;
}

.backgroundImageLocations {
    background-color: black;
    background-image: url('./images/LocationsBackground.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: inherit;
}

.LocationTitle  {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 35px;
  padding-top: 75px;
  line-height: 60px;
  margin-left: 5%;
  margin-right: 5%;
  color: rgba(0,0,0,0.70);
}

.whiteboard {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    background-color: rgba(0, 231, 231, 0.4);
    border-radius: 35px;
}

#checkinout {
  margin-top: -25px;
}

#checkinout h5.NumCheckedIn, p.TextCheckedIn {
  display: inline;
  vertical-align: top;
  line-height: 50px;
  width: 200px;
}

.NumCheckedIn {
  text-align: center;
    margin-left: 15%;
    margin-bottom: 2px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    min-width: 110px;
    color: rgba(255, 255, 255, 0.8);
}

.TextCheckedIn {
  text-align: center;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  min-width: 120px;
  color: black;
}

.locationNames {
    padding-top: 35%;
    max-width: 200px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 22px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button.checkIn:hover {
    color: black;
    border-color: black;
    background-color: rgba(255,255,255,0.6);
}

.checkIn {
    margin-left: 20%;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
.checkInLoca:hover {
  margin-left: 20%;
  color: black;
  margin-bottom: 5px;
  border-color: black;
  background-color: rgba(255,255,255,0.6);
}

.checkInLoca {
  text-align: center;
    max-width: 100px;
    font-size: 14px;
    padding-right: 75px;
    text-align: center;
    margin-left: 20%;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}

.checkOutLoca:hover {
  margin-left: 17%;
  color: black;
  margin-bottom: 5px;
  border-color: black;
  background-color: rgba(255,255,255,0.6);
}

.checkOutLoca {
  text-align: center;
    max-width: 110px;
    font-size: 14px;
    padding-right: 70px;
    text-align: center;
    margin-left: 17%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    margin-bottom: 5px;
}

.cont {
  display: inline-block;
  margin: 20px 25px 30px 10px;
  max-width: 130px;
  min-height: 133px;
  vertical-align: top;
}

.box {
    background-image: url('./images/Flower.png');
    background-size: 90%;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 5px;
    border-radius: 15px;
    padding-right: 5px;
}

.BeachBoxLeft {
  display: inline-block;
  margin-left: auto;
  margin-right: 47%;
  margin-top: 17%;
  align-items: center;
  max-width: 20px;
}

.whiteboardForecast {
  display: inline-block;
  max-width: 710px;
  padding-left: 300%;
  padding-bottom: 5px;
  padding-top: 7px;
  padding-right: 4px;
  background-color: white;
  border-radius: 20px;
  border: 10px;
  border-style: solid;
  border-color: rgba(0,0,0,0.2);
}

.forecast {
  max-width: 550px;
}

.backgroundImageBeach {
    background-image: url('./images/BeachBackground.jpg');
    background-color: black;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    max-height:100vh;
}

.textBlock {
  margin-top: 3%;
  float: left;
  color: white;
  text-align: left;
  max-width: 500px;
}

.TitleBeachOnly {
  min-width: 850px;
  float: left;
  margin-left: 0px;
  padding-left: 70px;
}

.beachtitel {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 70px;
}

.TextBeach {
  min-width: 480px;
  margin-left: 15%;
  margin-top: 20%;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 30px;
}

p.subtitle {
  font-size: 18px;
  letter-spacing: 1px;
}

h4.value {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

#sizeTideWind h4.value, p.subtitle {
  display: inline;
  vertical-align: top;
  line-height: 50px;
}
#surfersCheckedIn {
  padding-top: 25px;
}

h3.NumSurfers {
  font-size: 40px;
}

#surfersCheckedIn h3.NumSurfers, p.subtitle {
  display: inline;
  vertical-align:middle;
}

button.checkInBeach:hover {
    color: black;
    border-color: black;
    background-color: rgba(255, 255, 255,0.6);
}

.checkInBeach {
  margin-top: 5px;
    margin-left: 20%;
    background-color: black;
    color: white;
}

.container-fluid-beach{
  padding-top: 0%;
}

#formBackground-signUp {
    background-image: url('./images/FormBackground.jpg');
    background-color: white;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height:100vh;
}

#formBackground-signIn {
    background-image: url('./images/LogInBackground.jpg');
    background-color: white;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height:100vh;
}

h1.form-sign {
    text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 38px;
}

.whiteboardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  background-color: rgba(7, 216, 213, 0.5);
  border-radius: 25px;
}

.boxForm {
  display: inline-block;
  margin-top: 3%;
  margin-left: -20px;
}

.form-control {
  min-width: 200px;
  max-width: 200px;
}

.form-group{
    text-align: center;
    min-width: 200px;
    max-width: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 200px;
}

.help-block {
    color: #a51717;
    font-style: italic;
}

.FormGroupSignIn {
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 200px;
}

.alert-danger {
    color: #a51717;
    line-height: 20px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgba(61,153,165,0.7);
    max-height: 70px;
    border: none;
}

.danger {
    color: #a51717;
    font-size: 14px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 20px;
    background-color: rgba(61,153,165,0.7);
    max-height:90px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 160px;
}

.control-label {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.loading {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20%;
}

.signIn {
    margin-top: 50px;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Footer {
  background-color: #12ADB8;
  padding-top: 3%;
  padding-bottom: 0%;
  min-height: 230px;
}

.LogoFo {
  max-width: 250px;
  padding-bottom: 30px;
}

.TextFo {
  padding-bottom: 30px;
}

.TextFooter {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.signInTitle {
    max-height: 50px;
    max-width: 300px;
    margin: auto;
    padding-top: 15px;
    font-family: 'Roboto Slab', serif;
}

.topbutton {
    max-height: 50%;
    margin-top: 10%;
}

.bottombutton {
    margin-top: 5%;
}

#closeButton {
    color: black;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
#closeButton:hover {
    color: white;
    border-color: black;
    background-color: rgba(7, 216, 213, 0.5);
}

.modalanchor {
    color: white;
}

.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 50;
}

.modal {
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./images/tropicalDropDown.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
    max-width: 450px;
    max-height: 370px;
    padding: 30;
    border: 1px solid #888;
}
